.my_container {
    border: 1px solid green;
}

.arow{
    border: 3px solid red;
}

.my_col {
    border: 3px dotted blue;
}

body{
    background: #f1f1f1;
}



.jumbotron{

    height:100vh;
    padding: 0;
    margin: 0;
}


.jumbotron h1{
    color:white;
}
.jumbotron p{
    color:white;
}

.btn-dark,
.btn-dark:focus,
.btn-dark:active{
    background-color: #232323;
    border: 1px solid white;
    color: white;
}
.btn-dark:hover
{
    background-color:white;
    color: #232323
}

.btn-light,
.btn-light:focus,
.btn-light:active{
    background-color: white;
    border: 1px solid #232323;
    color: #232323;
}
.btn-light:hover
{
    background-color:#232323;
    color: white !important;
}





li{
    cursor: pointer;
}

.nav-item{
    color:white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.15em;
}
.navbar-nav{

    padding-left: 18%
    
}
.navbar{

    padding : 0;
    background-color: #242629;
    border-bottom : 4px solid #00a1a7;

}

.custom-toggler.navbar-toggler { 
    border-color: white; 
} 

.custom-toggler .navbar-toggler-icon { 
    background-image: url("./src/hamburger-white.png"); 
} 

.anchor{
    display:block;
    position:relative;
    top: -50px;
    visibility: hidden;
}


#personal-photo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


.categories{
    height:1000px;

}

.wrapper{
padding: 0;
}

.image{
    display:block;
    width: 476px;
    height: 238px;
    padding:0;
    margin: 0;
}
.overlayTop{
    position:absolute;
    transition: all 0.3s ease;
    opacity: 0;
    background-color:white;
    width:476px;
    height: 238px;
    top:0;
    left:0;
}

.wrapper:hover .overlayTop{
    height: 238px;
    opacity:1;
}

.favicon{
    padding-left:5%;
}

.input-field{
    margin-bottom: 10%;

}

input[type=text] { 
    background-color: #f1f1f1;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    box-shadow: none;
    outline: none !important;
}

input[type=text]:focus{
    outline: none !important;
    box-shadow: none;
    background-color:#f1f1f1;
}

#message{
    background-color: #f1f1f1;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    box-shadow: none;
    outline: none !important;
}

.bottom-image{
    width: 50px;
    align-self: flex-end;

}

