.my_container {
    border: 1px solid green;
}

.arow{
    border: 3px solid red;
}

.my_col {
    border: 3px dotted blue;
}

body{
    background: #f1f1f1;
    /* font-family: 'intro'; */
}

.jumbotron{
    height:100vh;
    padding: 0;
    margin: 0;
}


.jumbotron h1{
    color:white;
}
.jumbotron p{
    color:white;
}

.btn-dark,
.btn-dark:focus,
.btn-dark:active{
    background-color: #232323;
    border: 1px solid white;
    color: white;
}
.btn-dark:hover
{
    background-color:white;
    color: #232323
}

li{
    cursor: pointer;
}

.nav-item{
    color:white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.15em;
}
.navbar-nav{

    padding-left: 18%
    
}
.navbar{

    padding : 0;
    background-color: #242629;
    border-bottom : 4px solid #00a1a7;

}

.custom-toggler.navbar-toggler { 
    border-color: white; 
} 

.custom-toggler .navbar-toggler-icon { 
    background-image: url("./src/hamburger-white.png"); 
} 

.anchor{
    display:block;
    position:relative;
    top: -50px;
    visibility: hidden;
}

#personal-photo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


.categories{
    height:100vh;
}

.wrapper{
padding: 0;
}

.image{
    display:block;
    width: 100%;
    height:100%;
    padding:0;
    margin: 0;
}
.overlayTop{
    position:absolute;
    transition: all 0.3s ease;
    opacity: 0;
    background-color:white;
    width:100%;
    height: 0;
    top:0;
    left:0;
}

.wrapper:hover .overlayTop{
    height:100%;
    opacity:1;
}

.favicon{
    top: 100%;
}